@import 'normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$font-site: 'Open Sans';
$hover-and-link-color: #f93542;

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  background-color: #000000;
  .logo {
    display: flex;
    align-content: center;
  }
  img {
    object-fit: contain;
  }
  .box-nav-logo {
    height: 93px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    ul.menu-contact {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      a {
        text-decoration: none;
        color: $hover-and-link-color;
        font-family: $font-site;
        font-size: 0.875rem;
        font-weight: 400;
      }
      li {
        padding: 12px 0;
        padding-left: 78px;
        position: relative;
        &:first-child::before {
          content: url('../images/shape-5.svg');
          position: absolute;
          top: 11px;
          right: 117px;
        }
        &:last-child::before {
          content: url('../images/shape-6.svg');
          position: absolute;
          top: 13px;
          right: 151px;
        }
      }
    }
    ul.menu-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      li {
        padding: 12px 20px 17px 20px;
        &:hover a {
          color: $hover-and-link-color;
        }
        &:first-child {
          text-decoration: none;
          position: relative;
          ul.sub-menu-nav {
            border-top: 4px solid $hover-and-link-color;
            width: 128px;
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            left: -10px;
            top: 46px;
            visibility: hidden;
            z-index: -1;
            transform: translateY(-1em);
            transition: transform 1s;
            background-color: #ffffff;
            li {
              border: 0;
              padding: 13px 55px 13px 19px;

              a {
                color: #000000;
                font-size: 0.938rem;
                font-weight: 400;
                text-transform: capitalize;
              }
              &:first-child {
                padding-top: 26px;
              }
              &:last-child {
                padding-bottom: 35px;
              }
            }
          }
          &:hover {
            ul.sub-menu-nav {
              visibility: visible;
              opacity: 1;
              z-index: 1;
              transform: translateY(0%);
              li {
                border: 0;
                &:hover a {
                  color: $hover-and-link-color;
                }
              }
            }
          }
        }
      }
      li:last-child {
        padding-right: 0;
      }
      a {
        text-decoration: none;
        color: #ffffff;
        font-family: $font-site;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .jumbotron {
    background-image: url('../images/layer-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 455px;
  }
}

/* Hamburger menu start*/

#menu-icon {
  position: absolute;
  top: 30px;
  right: 13px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.menu-icon-open-close {
  display: none;
}


[class*='menu-icon-line-'] {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.line-menu-icon-move .menu-icon-line-1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.line-menu-icon-move .menu-icon-line-2 {
  opacity: 0;
}

.line-menu-icon-move .menu-icon-line-3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

[class*='menu-icon-line-'] {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.line-menu-icon-move .menu-icon-line-1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.line-menu-icon-move .menu-icon-line-2 {
  opacity: 0;
}

.line-menu-icon-move .menu-icon-line-3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

@-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}
@keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
} 


.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOutUp {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  }
  @keyframes fadeOutUp {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  }

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .menu-open-close {
    display: none;
  }
  .menu-icon-open-close {
    display: block;
  }

  header {
    position: relative;
    nav {
      flex-direction: column-reverse;
      position: absolute;
      width: 198px;
      height: 100vh;
      top: 93px;
      right: 0;
      background-color: #000000;
      box-shadow: 0px 0px 15px 100vw rgba(0,0,0,0.5);
      ul.menu-contact {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 17px;
        li {
          padding-left: 47px;
          &:first-child::before {
            width: 13px;
            height: 21px;
            right: 121px;
          }
          &:last-child::before {
            width: 22px;
            height: 17px;
          }
          a {
            font-size: 0.875rem;
          }
        }
      }
      ul.menu-nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        li {
          padding: 0;
          width: 100%;
          a {
            display: inline-block;
            padding: 12px 20px 17px 20px;
          }
          &:first-child {
            ul.sub-menu-nav {
              border-top: 0;
              position: static;
              width: 100%;
              left: 0;
              top: 0;
              display: none;
              a {
                padding: 0;
              }
            }
          }
          &:hover ul.sub-menu-nav {
              display: block;
            }
          
        }
      }
    }
  }

  div.jumbotron {
    background-image: url('../images/layer-2-mobile.png');
    height: 100vh;
  }
}