@import 'normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$font-site: 'Open Sans';
$modifier-color: #f93542;

.page {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  background-color: #000000;
  .header__logo {
    display: flex;
    align-content: center;
  }
  .header__img {
    object-fit: contain;
  }
  .header__navigaction {
    height: 93px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .menu__contact {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      .menu__contact__a {
        text-decoration: none;
        color: $modifier-color;
        font-family: $font-site;
        font-size: 0.875rem;
        font-weight: 400;
      }
      .menu__contact__li {
        padding: 12px 0;
        padding-left: 78px;
        position: relative;
      }

      .menu__contact__li--phone::before {
        content: url('../images/shape-5.svg');
        position: absolute;
        top: 11px;
        right: 117px;
      }
      .menu__contact__li--mail::before {
        content: url('../images/shape-6.svg');
        position: absolute;
        top: 13px;
        right: 151px;
      }
    }
    .menu__nav {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      .menu__nav__li {
        padding: 12px 20px 17px 20px;
        &:hover .menu__nav__a {
          color: $modifier-color;
        }
      }
      .menu__nav__li--sub-menu {
          text-decoration: none;
          position: relative;
          .menu__nav__sub-menu {
            border-top: 4px solid $modifier-color;
            width: 128px;
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            left: -10px;
            top: 46px;
            visibility: hidden;
            background-color: #ffffff;
            .menu__nav__sub-menu__li {
              border: 0;
              padding: 13px 55px 13px 19px;

              .menu__nav__a--sub-menu {
                color: #000000;
                font-size: 0.938rem;
                font-weight: 400;
                text-transform: capitalize;
              }
              .menu__nav__sub-menu__li--first {
                padding-top: 26px;
              }
              .menu__nav__sub-menu__li--last {
                padding-bottom: 35px;
              }
            }
          }
          &:hover {
            .menu__nav__sub-menu {
              visibility: visible;
              .menu__nav__sub-menu__li {
                border: 0;
                &:hover .menu__nav__a--sub-menu {
                  color: $modifier-color;
                }
              }
            }
          }
        }
      
      .menu__nav__li--last{
        padding-right: 0;
      }
      .menu__nav__a {
        text-decoration: none;
        color: #ffffff;
        font-family: $font-site;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .header__jumbotron {
    background-image: url('../images/layer-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 455px;
  }
}

/* Hamburger menu start*/

.menu-icon {
  position: absolute;
  top: 30px;
  right: 13px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.menu-icon__open-close {
  display: none;
}

.menu-icon__line {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-icon__line--move .menu-icon__line--1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-icon__line--move .menu-icon__line--2 {
  opacity: 0;
}

.menu-icon__line--move .menu-icon__line--3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .menu-icon__open-close {
    display: block;
  }
  
  .header {
    position: relative;
    .js-menu {
      display: none;
    }
    .menu {
      flex-direction: column-reverse;
      position: absolute;
      width: 198px;
      height: 100vh;
      top: 93px;
      right: 0;
      background-color: #000000;
      box-shadow: 0px 0px 15px 100vw rgba(0, 0, 0, 0.5);
      .menu__contact {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 17px;
        .menu__contact__li {
          padding-left: 47px;
        }
        .menu__contact__li--phone::before {
          width: 13px;
          height: 21px;
          right: 121px;
        }
        .menu__contact__li--mail::before {
          width: 22px;
          height: 17px;
        }
        .menu__contact__a {
          font-size: 0.875rem;
        }
      }
      .menu__nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .menu__nav__li {
          padding: 0;
          width: 100%;
          .menu__nav__a {
            display: inline-block;
            padding: 12px 20px 17px 20px;
          }
          
            .menu__nav__sub-menu {
              border-top: 0;
              position: static;
              width: 100%;
              left: 0;
              top: 0;
              display: none;
              .menu__nav__a--sub-menu {
                padding: 0;
              }
            }
          
          &:hover .menu__nav__sub-menu {
            display: block;
          }
        }
      }
    }
  }

  .header__jumbotron {
    background-image: url('../images/layer-2-mobile.png');
    height: 100vh;
  }
}
